html {
  // background-color: red;
}
.content {
}

.trix-content {
  overflow: hidden;
  width: 50vw;
  height: 100px;


}

#post_content {
  background-color: white;
  height: 50vh;
  width: 75vw;
}
